#customization {
  text-align: center;
  padding: 3em 0;
  background-color: $light-bg-color;


i {
    font-size: 2em;
  color: $primary-color;
}

a {
  color: $primary-color;
  font-weight: bold;
}
}
